body {
	margin: 0;
	padding: 0;
}

.banner {
	height: 100vh;
	width: 100%;
	position: relative;
	background-color: #000;
	background: linear-gradient(to right, var(--cor-tema-escura), var(--cor-tema-muito-escura-transparente)), url('../img/img-banner.jpg');
	overflow: hidden;
	animation: moveBgBanner 5s ease-in-out infinite;
	background-attachment: fixed;
}

.banner .texto {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #fff;
	text-align: center;
}

.banner .texto h2 {
	color: #fff;
}

.anim-titulo-banner-1 {
	display: inline-block;
	animation: animTituloBanner1 1s ease-in infinite;
}

.anim-titulo-banner-2 {
	display: inline-block;
	animation: animTituloBanner2 1s ease-in infinite;
}

@keyframes animTituloBanner1 {
	0% {
		transform: translateY(-1rem);
	}
	50% {
		transform: translateY(0rem);
	}
	100% {
		transform: translateY(-1rem);
	}
}

@keyframes animTituloBanner2 {
	0% {
		transform: translateY(1rem);
	}
	50% {
		transform: translateY(0rem);
	}
	100% {
		transform: translateY(1rem);
	}
}

.banner .texto h2:after {
	display: none;
}

.banner .texto p {
	font-size: 2rem;
	max-width: 45ch;
	text-align: center;
}

#setaBanner {
	position: absolute;
	color: var(--cor-tema-muito-clara);
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	font-size: 5rem;
	cursor: pointer;
	animation: moveSetaBanner 0.75s ease-in-out infinite;
	z-index: 2;
}

@media (max-width: 1000px) {
	.banner .texto h2 {
		font-size: 2.75rem;
	}
	.banner .texto p {
		font-size: 1.5rem;
	}
	#setaBanner {
		bottom: 2rem;
		font-size: 2.75rem;
	}
}

@keyframes moveSetaBanner {
	from {
		bottom: 0;
	}
	to {
		bottom: 1rem;
	}
}

@keyframes moveBgBanner {
	0% {
		background-position: 50% 0%;
	}
	50% {
		background-position: 50% 25%;
	}
	75% {
		background-position: 30% 100%;
	}
	100% {
		background-position: 50% 0%;
	}
}