@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*, *::before, *::after {
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

:root {
	/* Paleta Capuccino */
/*	--cor-tema-escura: #4b3832;
	--cor-tema-muito-escura: #3c2f2f;
	--cor-tema-chamativa: #854442;
	--cor-tema-clara: #be9b7b;
	--cor-tema-muito-clara: #fff4e6;
	--cor-tema-muito-escura-transparente: rgba(60, 47, 47, .75);*/

	/* Paleta IceBlue */
/*	--cor-tema-escura: #257ca3;
	--cor-tema-muito-escura: #396d7c;
	--cor-tema-chamativa: #a2d2df;
	--cor-tema-clara: #baf2ef;
	--cor-tema-muito-clara: #dcf3ff;	
	--cor-tema-muito-escura-transparente: rgba(57, 109, 124, .75);*/

	/* Paleta Sonserina */
/*	--cor-tema-escura: #1a472a;
	--cor-tema-muito-escura: #000000;
	--cor-tema-chamativa: #2a623d;
	--cor-tema-clara: #5d5d5d;
	--cor-tema-muito-clara: #aaaaaa;	
	--cor-tema-muito-escura-transparente: rgba(0, 0, 0, .75);*/

	/* Paleta Technology */
/*	--cor-tema-escura: #02577a;
	--cor-tema-muito-escura: #01303f;
	--cor-tema-chamativa: #02a9f7;
	--cor-tema-clara: #89d6fb;
	--cor-tema-muito-clara: #d4f0fc	;	
	--cor-tema-muito-escura-transparente: rgba(1, 48, 63, .75);*/

	/* Paleta Grifinória */
/*	--cor-tema-escura: #740001;
	--cor-tema-muito-escura: #000000;
	--cor-tema-chamativa: #ae0001;
	--cor-tema-clara: #d3a625;
	--cor-tema-muito-clara: #eeba30;	
	--cor-tema-muito-escura-transparente: rgba(0, 0, 0, .75);*/

	/* Paleta Hufflepuff */
/*	--cor-tema-escura: #372e29;
	--cor-tema-muito-escura: #000000;
	--cor-tema-chamativa: #ecb939;
	--cor-tema-clara: #726255;
	--cor-tema-muito-clara: #f0c75e;	
	--cor-tema-muito-escura-transparente: rgba(0, 0, 0, .75);*/

	/* Paleta Ravenclaw */
/*	--cor-tema-escura: #0e1a40;
	--cor-tema-muito-escura: #000000;
	--cor-tema-chamativa: #222f5b;
	--cor-tema-clara: #946b2d;
	--cor-tema-muito-clara: #5d5d5d;	
	--cor-tema-muito-escura-transparente: rgba(0, 0, 0, .75);	*/

	/* Paleta Mickey Mouse */
	--cor-tema-escura: #f20505;
	--cor-tema-muito-escura: #000000;
	--cor-tema-chamativa: #f9d70b;
	--cor-tema-clara: #f0e046;
	--cor-tema-muito-clara: #fff;	
	--cor-tema-muito-escura-transparente: rgba(0, 0, 0, .75);

	/* Paleta Neon */
/*	--cor-tema-escura: #f000ff;
	--cor-tema-muito-escura: #001eff;
	--cor-tema-chamativa: #ffe700;
	--cor-tema-clara: #74ee15;
	--cor-tema-muito-clara: #4deeea;	
	--cor-tema-muito-escura-transparente: rgba(0, 30, 255, .75);*/

	/* Paleta Facebook */
/*	--cor-tema-escura: #8b9dc3;
	--cor-tema-muito-escura: #3b5998;
	--cor-tema-chamativa: #8b9dc3;
	--cor-tema-clara: #dfe3ee;
	--cor-tema-muito-clara: #ffffff;	
	--cor-tema-muito-escura-transparente: rgba(59, 89, 152, .75);*/

	/* Menu */
	--altura-menu: 10vh;
	--color: var(--cor-tema-muito-clara);
	--bg: var(--cor-tema-muito-escura);
	--bg-hover: var(--cor-tema-chamativa);
	--color-hover: var(--cor-tema-muito-escura);
	--bg-menu-responsivo: var(--cor-tema-escura);
	--color-btn-subir: var(--cor-tema-chamativa);
}

body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

section {
	z-index: -1;
}

p {
	max-width: 45ch;
	line-height: 1.5;
	text-align: justify;
}

i {
	font-style: normal;
}

.div-bg {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: -1;
}

h2 {
	font-size: 3rem;
	position: relative;
	color: var(--cor-tema-muito-escura);
}

h2:after {
  content: "";
  background: var(--cor-tema-chamativa);
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 5px;
  width: 10%;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: var(--cor-tema-muito-clara);
}

::-webkit-scrollbar-thumb {
    background-color: var(--cor-tema-muito-escura);
}

::-moz-selection { /* para Firefox */
    background-color: var(--cor-tema-muito-clara);
    background: var(--cor-tema-muito-escura);
  }
  
::selection {
    color: var(--cor-tema-muito-clara);;
    background: var(--cor-tema-muito-escura);
}

/* animações */
@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes fadeOut {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}