footer {
	background: var(--cor-tema-escura);
	color: var(--cor-tema-muito-clara);
	text-align: center;
	padding: 1rem;
}

footer h2 {
	font-size: 2rem;
	color: #fff;
}

footer h2:after {
	display: none;
}

@media (max-width: 1080px) {
	footer h2 {
		font-size: 1rem;
	}
}