.container-slider-dividido {
	--altura-slider: 600px;
	width: 100vw;
	position: relative;
	overflow: hidden;
	z-index: 1;
}

.container-slider-dividido h2 {
	text-align: center;
}

.controles {
	position: absolute;
	bottom: 5%;
	left: 50%;
	transform: translateX(-50%);
	z-index: 2;
}

.botao-controle {
	width: 5px;
	height: 5px;
	border: 2px solid var(--cor-tema-muito-clara);
	padding: .5rem;
	border-radius: 50%;
	background-color: var(--cor-tema-chamativa);
	cursor: pointer;
}

.ativo {
	padding: 1rem;
}

.container-slider-dividido img {
	width: 100%;
	height: var(--altura-slider);
  	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  	filter: grayscale(100%);
  	object-fit: fill;
}

.container-slider-dividido img:hover {
  	-webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
  	filter: grayscale(0%);
  	transition: 1s;
}

.linha {
	display: grid;
	grid-template-columns: repeat(4, 100vw);
	transition: .5s;
}

.linha .coluna {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	height: var(--altura-slider);
}

.coluna .texto {
	height: var(--altura-slider);
	padding: 1rem;
	text-align: center;
	background-color: var(--cor-tema-escura);
	color: var(--cor-tema-muito-clara);
}

.coluna .texto p {
	margin-left: 12%;
}

.coluna .texto a {
	color: #fff;
}

.coluna .texto a:hover {
	font-size: 1.2rem;
	transition: .5s;
}

@media (max-width: 1080px) {
	.coluna .texto {
		overflow-y: scroll;
	}
	.coluna .texto p {
		margin-left: 0;
	}

	.linha .coluna {
		display: flex;
		flex-direction: column;
		height: auto;
	}

	.coluna .texto {
		height: 50vh;
	}

	.container-slider-dividido img {
		height: 50vh;
	}
}