.container-slider-dividido {
	width: 100vw;
	position: relative;
	overflow: hidden;
}

.container-slider-dividido h2 {
	text-align: center;
}

.controles {
	position: absolute;
	bottom: 5%;
	left: 50%;
	transform: translateX(-50%);
	z-index: 100;
}

.botao-controle {
	width: 5px;
	height: 5px;
	border: 2px solid #fff4e6;
	padding: .5rem;
	border-radius: 50%;
	background-color: #854442;
	cursor: pointer;
}

.ativo {
	padding: 1rem;
}

.container-slider-dividido img {
	width: 100%;
	height: 500px;
}

.linha {
	display: grid;
	grid-template-columns: repeat(4, 100vw);
	transition: .5s;
}

.linha .coluna {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	height: 500px;
}

.coluna .texto {
	height: 500px;
	padding: 1rem;
	text-align: center;
	background-color: #4b3832;
	color: #fff4e6;
}

.coluna .texto p {
	margin-left: 12%;
}

.coluna .texto a {
	color: #fff;
}

.coluna .texto a:hover {
	font-size: 1.2rem;
	transition: .5s;
}

@media (max-width: 1080px) {
	.coluna .texto {
		overflow-y: scroll;
	}
	.coluna .texto p {
		margin-left: 0;
	}
}