@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*, *::before, *::after {
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

:root {
	--primeira-cor: #060606;
	--segunda-cor: #dbce41;
	--terceira-cor: #fff;
}

body {
	margin: 0;
	padding: 0;
}

h2 {
	font-size: 3rem;
	position: relative;
}

h2:after {
  content: "";
  background: var(--segunda-cor);
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 5px;
  width: 10%;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: var(--terceira-cor);
}

::-webkit-scrollbar-thumb {
    background-color: var(--primeira-cor);
}

::-moz-selection { /* para Firefox */
    background-color: var(--primeira-cor);
    color: var(--segunda-cor);
  }
  
::selection {
    background: var(--primeira-cor);
    color: var(--segunda-cor);
}

.slider {
	height: 70vh;
	background: linear-gradient(to right, rgba(0, 0, 0, .7), rgba(0, 0, 0, .9)), url('../modelos/modelo-1.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	animation: moveBgBanner 5s ease-in-out infinite;
	color: var(--terceira-cor);
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.slide {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.slide h3 {
	font-size: 3.5rem;
	margin-bottom: 0;
}

.slide p {
	font-size: 2rem;
}

@keyframes moveBgBanner {
	0% {
		background-position: 50% 0%;
	}
	50% {
		background-position: 50% 25%;
	}
	75% {
		background-position: 30% 100%;
	}
	100% {
		background-position: 50% 0%;
	}
}

.slider p {
	max-width: 45ch;
}

nav {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background: var(--primeira-cor);
	color: var(--terceira-cor);
	height: 40vh;
}

#iconeMenuResponsivo {
	display: none;
}

.logo {
	margin: 1rem 0;
	width: 15%;
	height: auto;
}

nav h1 {
	display: none;
}

nav ul {
	display: flex;
	justify-content: space-around;
	align-items: center;
	list-style: none;
	height: 15vh;
}

nav ul li i {
	color: var(--segunda-cor);
	font-size: 1.5rem;
}

nav ul li a {
	color: var(--terceira-cor);
	text-decoration: none;
}

nav ul li a:hover {
	color: var(--segunda-cor);
	cursor: pointer;
}

nav #menuPrimeiraParte {
	display: flex;
	justify-content: space-around;
}

nav #menuPrimeiraParte {
	align-items: center;
}

nav #buscadorGeral {
	width: 100%;
	text-align: center;
	border: 1px solid var(--terceira-cor);
	padding: 1rem;
	font-size: 1rem;
	border-radius: 1rem;
}

nav #buscadorGeral:focus {
	border: 1px solid var(--terceira-cor);
	outline: none;
}

#containerBuscadorGeral {
	width: 50%;
	position: relative;
}

#containerBuscadorGeral i {
	position: absolute;
	right: 5%;
	top: 50%;
	transform: translateY(-50%);
	color: var(--primeira-cor);
}

/* produtos */
#produtos {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	text-align: center;
	min-height: 100vh;
}

.grid {
	display: grid;
	grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
	grid-gap: 1rem;
}

.produto {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.produto img {
	max-width: 200px;
	border-radius: 2rem;
}

.produto img:hover {
	transform: scale(1.1);
	border-radius: 0;
	transition: 1s;
	cursor: pointer;
}

.produto .preco {
	font-size: 2rem;
	color: seagreen;
}

button {
	margin-top: 1rem;
	padding: 1rem;
	border: none;
	background: seagreen;
	font-size: 1rem;
	color: var(--terceira-cor);
	border-radius: 1rem;
}

button:hover {
	cursor: pointer;
	opacity: .75;
}

footer {
	margin-top: 5rem;
	background: var(--primeira-cor);
	color: var(--terceira-cor);
	min-height: 50vh;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	padding: 5rem;
}

footer img {
	width: 25%;
}

footer a {
	color: var(--segunda-cor);
	text-decoration: none;
	font-weight: bolder;
}

/* modais */
.bg-modal {
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	background-color: rgba(0, 0, 0, .9);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 400;
}

.modal {
	width: 75%;
	min-height: 50%;
	max-height: 95vh;
	overflow: scroll;
	background-color: var(--terceira-cor);
	padding: 1rem;
	border-radius: 1rem;
	text-align: center;
	position: relative;
}

#produtoModal, #sacolaModal {
	display: none;
}

#sacolaModal table {
	margin: 0 auto;
	border-collapse: collapse;
}

#sacolaModal table th, table td {
	border: 1px solid #606060;
	padding: 1rem;
}

.modal .icone-fechar {
	position: absolute;
	top: 5%;
	right: 5%;
	font-size: 2rem;
	cursor: pointer;
}

/* toast */
.toast {
	width: 75vw;
	min-height: 5vh;
	padding: 1rem;
	border-radius: 1rem;
	position: fixed;
	top: 5%;
	left: 50%;
	transform: translateX(-50%);
	background: var(--primeira-cor);
	color: var(--segunda-cor);
	text-align: center;
	font-weight: bolder;
	z-index: 200;
	box-shadow: 0 0 100px var(--terceira-cor);
	display: none;
}

#sacolaFlutuante {
	z-index: 300;
	position: fixed;
	bottom: 5%;
	right: 5%;
	font-size: 1.5rem;
	background-color: var(--primeira-cor);
	color: var(--segunda-cor);
	padding: 1rem;
	border-radius: 1rem;
	cursor: pointer;
	border: 1px solid var(--segunda-cor);
}

@media (max-width: 1080px) {
	nav ul {
		position: fixed;
		top: 0;
		left: 0;
		margin: 0;
		border-right: 2px solid var(--segunda-cor);
		z-index: 500;
		height: 100vh;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background-color: var(--primeira-cor);
		padding: 2rem;
		display: none;
	}

	#menuPrimeiraParte {
		position: relative;
	}

	#iconeMenuResponsivo {
		display: block;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: 10%;
		font-size: 2.5rem;
		cursor: pointer;
		color: var(--segunda-cor);
	}

	.logo {
		width: 50%;
	}

	.slide h3 {
		font-size: 2rem;
	}

	.slide p {
		font-size: 1rem;
	}
}