* {
	font-family: Verdana, sans-serif;
}

body {
	background-color: lightyellow;
}

h1, h2, h3 {
	text-align: center;
}

#jogo p {
	font-size: 12px;
	color: #fff;
}

#elementosCriacao, #codigo {
	border-radius: 1rem;
	box-shadow: 2px 2px 10px black;
	border: 2px solid #000;
}

#elementosCriacao {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 35%;
	background-color: #212121;
}

#elementosCriacao img {
	width: 50px;
	height: 50px;
	cursor: pointer;
	border-radius: 1rem;
	padding: 1rem;
}

.alinhados {
	display: flex;
	justify-content: space-around;
}

.input-solucao-perfeita {
	background-color: seagreen;
}

.input-estado-inicial {
	background-color: tomato;
}

/*.espacoElemento {
	outline: 1px solid #333;
}*/

.espacoElemento:hover {
	outline: 2px solid #999;
	cursor: pointer;
}

/* textarea onde o código do circuito é exibido */
#codigo {
	display: block;
	height: 300px;
	width: 90%;
	border-radius: 1rem;
	margin: 0 auto;
	font-family: monospace;
	font-size: 1rem;
	padding: 1rem;
	color: #606060;
}

#codigo:focus {
	border: 2px solid #000;
	outline: none;
}

@media (max-width: 720px) {
	.alinhados {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	#jogo {
		margin-top: 1rem;
	}
}