:root {
	--dimensaoElemento: 35px;
	--elementosPorColuna: 10;
}

* {
	font-family: monospace;
}

body {
	background-color: #111;
	background-size: 400%;
	animation: moveBg 15s infinite;
	background: url('bg.jpg');
	overflow: hidden;
}

#toast {
	position: fixed;
	top: 2.5%;
	left: 50%;
	transform: translateX(-50%);
	width: 75%;
	padding: 1rem;
	border-radius: 1rem;
	background-color: #000;
	box-shadow: 0 0 50px #fff;
	z-index: 100;
	display: none;
	text-align: center;
	color: #fff;
	font-size: 1.5rem;
}

#toast img {
	width: 25px;
	height: auto;
}

.alinhados {
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 100vh;
}

button {
	background-color: seagreen;
	color: #fff;
	padding: 1rem;
	border: none;
	border-radius: 1rem;
	font-size: 3rem;
}

button:hover {
	cursor: pointer;
	opacity: .75;
	transform: scale(1.25);
	transition: 1s;
}

.ilustracao {
	width: 100px;
}

.bg-modal {
	z-index: 100;
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	background-color: rgba(0, 0, 0, .75);
	display: flex;
	justify-content: center;
	align-items: center;
}

.modal {
	background-color: #fff;
	padding: 2rem;
	border-radius: 1rem;
	overflow-y: scroll;
	overflow-x: hidden;
	height: 75vh;
	width: 75%;
	position: relative;
}

.modal p {
	max-width: 65ch;
	text-align: justify;
	font-size: 1.2rem;
}

.modal .texto {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.modal #logo {
	max-width: 100%;
	display: block;
	margin: 0 auto;
}

.bg-modal #btnJogar {
	margin-top: 2rem;
}

#modalFinal {
	display: none;
}

@keyframes moveBg {
	0% {
		background-position: 0% 0%;
	}
	50% {
		background-position: 0% 50%;
	}
	75% {
		background-position: 50% 75%;
	}
	90% {
		background-position: 75% 50%;
	}
	100% {
		background-position: 0% 0%;
	}
}

#jogo {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: rgba(0, 0, 0, .9);
	overflow: hidden;
	border-radius: 1rem;
	width: calc(var(--elementosPorColuna) * var(--dimensaoElemento));
	font-size: 1.5rem;
}

.infoJogo {
	font-size: 3rem;
}

.infoJogo #estrelas span {
	font-size: 3rem;
	display: block;
	margin-bottom: 1rem;
	text-align: center;
}

.infoJogo i.tempo {
	color: tomato;
	animation: moveTempo 2s infinite;
	display: inline-block;
}

.infoJogo i.pontuacao {
	color: seagreen;
}

@keyframes moveTempo {
	0% {
		transform: rotateX(0deg);
	}
	50% {
		transform: rotateX(180deg);
	}
	100% {
		transform: rotateX(360deg);
	}
}

.infoJogo i.estrela {
	color: yellow;
}

.bi-star-fill {
	display: inline-block;
	animation: pulso 1s infinite;	
}

@keyframes pulso {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.25);
	}
	100% {
		transform: scale(1);
	}
}

.infoJogo i.bateria {
	color: dodgerblue;
}

.infoJogo p {
	color: #fff;
}

#output, #input, #solucaoPerfeita, #estadoInicial {
	width: calc(var(--elementosPorColuna) * var(--dimensaoElemento));
	background-color: #aaa;
	text-align: center;
	font-weight: bolder;
	line-height: 200%;
}

#input, #solucaoPerfeita, #estadoInicial {
	display: grid;
	grid-template-columns: repeat(var(--elementosPorColuna), 1fr);
}

.input, .input-estado-inicial, .input-solucao-perfeita {
	cursor: pointer;
	user-select: none;
}

#input {
	background-color: #000;
	color: tomato;
	border-top: 1px solid white;
}

.input {
	border-right: 1px solid white;
}

.input:last-child {
	border: none;
}

#output {
	text-transform: uppercase;
	background-color: #000;
	color: #fff;
}

#circuito {
	display: grid;
	grid-template-columns: repeat(var(--elementosPorColuna), 1fr);
	width: calc(var(--elementosPorColuna) * var(--dimensaoElemento));
	text-align: center;
}

#circuito div, #circuito img {
	height: var(--dimensaoElemento);
	width: var(--dimensaoElemento);
	color: #aaa;
}

.espacoElemento {
	background-size: cover;
}

#lampada {
	max-width: 5%;
	height: auto;
	position: absolute;
	top: 0;
	right: 5%;
}

#btnProximo, #estrelas {
	display: none;
}

#btnProximo {
	position: fixed;
	bottom: 2%;
	right: 2%;
}

#mensagem {
	display: none;
	position: fixed;
	top: 50%;
	left: 10%;
	background-color: brown;
	color: #fff;
	padding: 1.5rem;
	font-size: 2rem;
	border-radius: 1rem;
	width: 75%;
	text-align: center;
	box-shadow: 0 0 100px black;
	border: 5px solid #fff;
	z-index: 10;
	animation: animacaoMensagem 5s infinite;
}

@keyframes animacaoMensagem {
	0% {
		transform: rotateZ(0deg);
	}
	50% {
		transform: rotateZ(5deg);
	}
	100% {
		transform: rotateZ(0deg);
	}
}

#infoMusica {
	z-index: 5;
	background-color: seagreen;
	color: #fff;
	padding: 1rem;
	border-radius: 1rem;
	border: 2px solid #fff;
	position: fixed;
	top: 50%;
	left: 90%;
	transform: translate(-90%, -50%);
	width: 10vw;
	display: none;
}

@keyframes moveLampada {
	from {
		transform: rotateZ(100deg);
	}
	to {
		transform: rotateZ(180deg);
	}
}

@media (max-width: 1000px) {
	body {
		overflow: scroll;
	}
	.alinhados {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		height: auto;
	}

	#informacoesSuperiores {
		display: flex;
		justify-content: space-around;
		align-items: center;
		width: 100%;
	}

	#estrelas {
		position: fixed;
		width: 75%;
		font-size: 2rem;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background-color: rgba(0, 0, 0, .9);
		padding: 1rem;
		border-radius: 1rem;
		border: 2px solid #fff;
		text-align: center;
	}

	#infoMusica {
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: auto;
	}

	#lampada {
		max-width: 10%;
		left: 50%;
		transform: translateX(-50%);
	}

	.infoJogo {
		font-size: 2rem;
	}

	:root {
		--dimensaoElemento: 35px;
	}

}

@media (max-width: 720px) {
	.infoJogo {
		font-size: 1.5rem;
	}
}

@media (min-width: 1500px) {
	:root {
		--dimensaoElemento: 50px;
	}
	.infoJogo {
		font-size: 5rem;
	}

	#output, .input {
		height: 50px;
		font-size: 3rem;
		line-height: 100%;
	}

	.input, #ouput {
		font-size: 3rem !important;
	}
}

#play {
	cursor: pointer;
}