button{
	padding: 10px;
	border: none;
	cursor: pointer;
	color: #212121;
	background: orange;
}

button:hover{
	opacity: .8;
}

#btn_desfazer{
	position: fixed;
	top: 90%;
	right: 2%;
}

#btn_gerar_circuito{
	background: darkgreen;
	color: #fff;
	position: fixed;
	top: 80%;
	right: 2%;
}

#quadro_criativo{
	margin: 0 auto;
	border: 2px solid darkblue;
}

#elementos_criacao{
	width: 100%;
	display: flex;
	justify-content: space-around;
	margin: 15px auto;
}

.elemento{
	padding: 5px;
	border-radius: 10px;
	cursor: pointer;
}

.espaco_elemento{
	background-repeat: no-repeat !important;
	background-position: center !important;
	background-size: 100% !important;
	cursor: pointer;
}

.espaco_elemento:hover{
	border: 3px solid orange;
}

/* TOAST */
#toast {
	position: fixed;
	top: 2%;
	left: 25%;
	width: 50%;
	z-index: 15;
	padding: 10px;
	padding-right: 20px;
	border-radius: 5px;
	display: none;
	height: auto;
	color: #fff;
	background: green;
	text-align: center;
}
/* */

label{
	display: block;
	text-align: center;
	font-weight: bolder;
}

textarea{
	width: 100%;
}